<div class="navDecors">
  <div class="nd b1" [routerLink]="['/info']" title="Navigations">
      <i class="fas fa-user fa2"></i>
      <div class="text" >
          <i class="fas fa-user fa1"></i>
          <div>
              <h2>Info</h2>
          </div>
      </div>
  </div>
  <div class="nd b2"  [routerLink]="['/perks']" title="Navigations">
      <i class="fas fa-user fa2"></i>
      <div class="text" >
          <i class="fas fa-user fa1"></i>
          <div>
              <h2>Perks</h2>
          </div>
      </div>
  </div>
</div>