<app-header></app-header>
<section class="container default">
 <div class="title"><h1 title="Me, Misho">Moshir Ashraf Danial</h1></div>
  <h2 title="Misr International University">Senior AI student at MIU</h2>
<span id="effect">
  <i class="fa-solid fa-caret-left prev" title="Display Previous Picture" (click)="showPrevious()"></i>
  <div class="info">
  <img [src]="currentImage" alt="me">
  <p>
    Highly motivated senior Computer Science student with an Artificial Intelligence
minor, passionate about education and academia. I am eager to design innovative
projects that integrate cutting-edge AI solutions with user-centered Human-
Computer Interaction (HCI) principles. Seeking opportunities in esteemed organizations
to apply academic knowledge, gain practical experience, and drive impactful
contributions to technology.
  </p>
  <h3>Goals and Hopes</h3>
</div>
<i class="fa-solid fa-caret-right next" title="Display Next Picture" (click)="showNext()"></i>
</span>
</section>
<app-footer></app-footer>