<section class="container default">
 <div class="title"><h1>Moshir Ashraf Danial</h1></div>
  <h2>Senior AI student at MIU</h2>
<div class="info">
  <img src="images/me.jpg" alt="me">
  <p>
    Highly motivated senior Computer Science student with an Artificial Intelligence
minor, passionate about education and academia. I am eager to design innovative
projects that integrate cutting-edge AI solutions with user-centered Human-
Computer Interaction (HCI) principles. Seeking opportunities in esteemed organizations
to apply academic knowledge, gain practical experience, and drive impactful
contributions to technology.
  </p>
  <h3>Goals and Hopes</h3>
</div>
</section>