<app-header></app-header>
<div class="container">
  <div class="title">
    <h1 class="text-center mb-4">My Skills and Hobbies</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="section-title">Technologies I've Used</h2>
      <ul class="list-group" #techList>
        <li class="list-group-item" title="DataBase">MongoDB</li>
        <li class="list-group-item" title="DataBase">MySQL</li>
        <li class="list-group-item" title="DataBase">NoSQL</li>
        <li class="list-group-item" title="JS Backend">Node.js</li>
        <li class="list-group-item" title="JS Backend">ExpressJS</li>
        <li class="list-group-item" title="JS FrontEnd">EJS Templating</li>
        <li class="list-group-item" title="GUI">Qt Cross Platform</li>
        <li class="list-group-item" title="GUI">CLR Windows Form UI</li>
        <li class="list-group-item" title="GUI">JavaFX</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h2 class="section-title">My Hobbies and Interests</h2>
      <ul class="list-group" #hobbiesList>
        <li class="list-group-item" title="Teaching CSc courses">Tutoring</li>
        <li
          class="list-group-item"
          title="C+, C# C, Java, Javascript, Typescript, Python, Php"
        >
          Coding & Programming
        </li>
        <li class="list-group-item" title="Literature">Writing</li>
        <li class="list-group-item" title="Took it as an elective">
          Digital Media Marketing
        </li>
        <li class="list-group-item" title="Life-long main hobby/skill/interest">
          Music Production
        </li>
        <li class="list-group-item" title="Life-long main hobby/skill/interest">
          Song-Writing
        </li>
        <li class="list-group-item" title="Almost vegan, Recycling enthusiast">
          Enviromentalism
        </li>
        <li
          class="list-group-item"
          title="LOVE ALL WILD LIFE EXCEPT FOR REPTILES"
        >
          Animal Care
        </li>
        <li
          class="list-group-item"
          title="What I would've pursued instead of CSc"
        >
          Psychological Readings
        </li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
