* {
  margin: 0;
  padding: 0;
  
}
app-root{
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  font-family: Georgia;
  background-color:  #212121;
  color: #f4f4f4;
}

.default {
  font-family: Georgia;
  background-color:  #212121;
  color: #f4f4f4;
}

.preferedDark {
  background-color: #333;
  color: #e7e7e7;
  ;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body *:not(nav, nav *, footer, footer *, .info *) {
  animation: fadeIn 1.5s ease-in-out;
}
