<div class="container">
  <footer class="default text-center">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1 yellow" target="_blank" href="mailto:moshirdanial@gmail.com" role="button">
          <i class="fab fa-google"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1 blue" target="_blank" href="https://www.linkedin.com/in/moshir-ashraf-b47966262/" role="button">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1 red" target="_blank" href="https://github.com/moshir-ashraf" role="button">
          <i class="fab fa-github"></i>
        </a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright: Misho
    </div>
  </footer>
</div>
