.container {
    position: relative;
    bottom: 0;
}

a {
    font-size: 15px;
    height: 50px;
    width: 50px;
    line-height: 50px !important;
    background-color: transparent;
    border-radius: 30%;
    border: 3px solid #fff;
    padding: 1%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.blue {
    background: transparent;
    border: 3px solid #4f6fb0;
}

.blue:hover {
    background: #4f6fb0;
    color: #f2f2f2;
}

.red {
    background: transparent;
    border: 3px solid #A03232;
}

.red:hover {
    background: #A03232;
    color: #f2f2f2;
}

.yellow {
    background: transparent;
    border: 3px solid #f3ca6b;
}

.yellow:hover {
    background: #f3ca6b;
    color: #f2f2f2;
}